﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contacto</title>
</head>
<body>
    <div>
        <p>Contactenos:</p>
        <p>Jhonnatan Andres Dussan Cuellar</p>
        <p>Correo: jodu_07@hotmail.com</p>
        <p>cel: 3222460655</p>

    </div>
</body>
</html>
